/* font-family: 'Nunito', sans-serif; */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2 {
  width: 100%;
  text-align: center;
  padding: 1.5%;
}
.home {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0.3em;
  font-size: 3em;
}

main {
  font-family: arial, sans-serif;
  overflow-x: auto;
  position: relative;
  min-height: 80vh;
}

.definition,
.definitionSecond {
  width: 50vw;
  position: absolute;
  left: 0;
  top: 10vh;
}

.definitionSecond {
  top: 50vh;
}

.visualization {
  height: 65vh;
  min-width: 50vw;
  position: absolute;
  left: 50vw;
  top: 10vh;
}

/* =================================
definition block - START
==================================== */

.definition p {
  font-weight: 900;
}

.propertiesList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 0.7em;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  margin-top: 2em;
  letter-spacing: 1px;
}
.propertie__list {
  list-style: none;
}

.propertie__list li {
  margin-top: 0.4em;
}
.propertie__list li:first-child {
  color: orange;
  font-weight: bold;
}

.definition hr {
  width: 95%;
  margin: 0.5em auto 2em auto;
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px orange inset;
}

.propertie__name {
  display: block;
  font-weight: 900;
  padding-bottom: 0.4em;
  color: orangered;
}

.propertie label:nth-of-type(2) {
  font-weight: bold;
  text-decoration: underline;
}

.definition .default {
  font-size: 0.8em;
  font-weight: 500;
  padding-left: 2em;
  padding-top: 2em;
}
.definition .default span {
  text-decoration: underline;
}

/* =================================
definition block - END
==================================== */

/* =================================
definition flex item block - START
==================================== */
.definitionSecond hr {
  width: 95%;
  margin: 0.5em auto 2em auto;
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px orange inset;
}

.definitionSecond .description {
  padding: 1.4em;
  font-size: 0.9em;
  text-align: justify;
  line-height: 1.5em;
}

/* =================================
definition block - END
==================================== */

/* =================================
visualization block - START
==================================== */
.generator {
  position: absolute;
  top: 3%;
  right: 5%;
  background-color: #cbb311;
  border: none;
  padding: 0.7em;
  border-radius: 5px;
  box-shadow: 2px 2px 7px 1px black;
}
.generator:hover {
  cursor: pointer;
}

.visualization {
  background-color: #ddd;
  display: flex;
}

.visualization div {
  width: 100px;
  min-height: 100px;
  background-color: orange;
  margin: 0.5em;
  box-shadow: 2px 2px 5px -1px black;
}
.element {
  position: relative;
}

/* =================================
visualization block - END
==================================== */

/* =================================
Element - START
==================================== */
.element .delete {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.1em;
  height: 18px;
  width: 18px;
  border: none;
  background-color: black;
  border-radius: 50%;
  color: white;
  line-height: 18px;
}

.element p:first-of-type {
  font-size: 0.9em;
  text-align: center;
  margin-top: 1.2em;
  width: 100%;
}

.element p {
  margin-bottom: 1em;
  padding-left: 0.5em;
  width: 50%;
  position: relative;
}

.element p input {
  width: 100%;
}

.element .orderContainer::after,
.element .alignSelf::after,
.element .growContainer::after,
.element .shrinkContainer::after,
.element .basisContainer::after {
  display: block;
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  background-color: #333;
  border-radius: 5px;
  color: white;
  width: 40px;
  height: 25px;
  line-height: 25px;
  font-size: 0.9em;
  text-align: center;
  right: -82%;
  top: -10%;
}
.element .orderContainer::after {
  content: "order";
}
.element .growContainer::after {
  content: "grow";
}

.element .shrinkContainer::after {
  content: "shrink";
}

.element .basisContainer::after {
  content: "basis";
}

.element .alignSelf::after {
  content: "align-self";
  width: 80px;
  top: 120%;
}

.element .orderContainer:hover::after,
.element .growContainer:hover::after,
.element .shrinkContainer:hover::after,
.element .basisContainer:hover::after,
.element .alignSelf:hover::after {
  opacity: 1;
}

/* =================================
Element - END
==================================== */
