*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ======
variables - START
========= */

:root {
  --radius: 10px;
  --baseFg: dimgray;
  --baseBg: black;
  --accentFg: yellow;
  --accentBg: black;
}

/* ======
variables - END
========= */

body {
  font-family: arial, sans-serif;
}

/* ======
logo - START
========= */

.home {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0.3em;
  font-size: 3em;
}

/* ======
header - END
========= */

header h1 {
  text-align: center;
  line-height: 12vh;
}

/* ======
header - START
========= */

main {
  display: flex;
  height: calc(100vh - 12vh - 48px);
}

/* ======
toolbars - START
========= */

/*Left Toolbar - start */

.leftToolbar {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1vh;
}

select {
  display: block;
  margin: 10px auto;
  -webkit-appearance: none;
  appearance: none;
  color: var(--accentFg);
  outline: 0;
  padding: 0.65em 2.5em 0.55em 0.75em;
  border-radius: var(--radius);
  background-color: var(--baseBg);

  /* arrow in dropdown list */
  background-image: linear-gradient(var(--baseFg), var(--baseFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(-226deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
  background-position: right 20px center, right bottom, right bottom,
    right bottom;
}

select:hover {
  background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-226deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
}

label {
  display: block;
  text-align: center;
  padding-top: 10px;
}
input {
  display: block;
  margin-top: 10px;
  width: 30%;
  margin-left: 20%;
  text-align: center;
  color: var(--accentFg);
  outline: 0;
  border-radius: var(--radius);
  background-color: var(--baseBg);
  padding: 0.65em 0 0.55em 0;
}

input:focus {
  color: var(--baseBg);
  background-color: var(--accentFg);
}

/* deleting arrows from input#number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
/*-xx-*/

.positionTop,
.positionLeft,
.positionRight,
.positionBottom {
  position: relative;
}

.unitSelect {
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 30%;
}

.lock {
  width: 20px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  top: 20%;
  left: calc(50% - 4em);
  border: 1px solid black;
  text-align: center;
  background-color: white;
}

.text {
  font-size: 0.8em;
  text-align: center;
  margin: 1.5em 1em 1em 1em;
}

.warning {
  margin-top: auto;
}

.ignore,
.tip .ignore {
  border-color: var(--accentBg);
  color: var(--accentBg);
  background-color: #ddd;
}
.disable {
  background-color: grey;
}

.childSize {
  margin-top: 15%;
}
.childSize p {
  text-align: center;
}
.childSize label {
  width: 2em;
}
.childSize label,
.childSize input {
  display: inline-block;
  line-height: 2.3em;
  vertical-align: bottom;
  margin-left: 3em;
}
.childHeightValue,
.childWidthValue {
  display: inline-block;
  margin-left: 1.6em;
  margin-bottom: 0.4em;
  padding: 3px 3px 2px 2px;
  width: 38px;
  text-align: center;
  color: var(--accentFg);
  background-color: var(--accentBg);
  border-radius: var(--radius);
}

/*Left Toolbar - end */

/* Right Toolbar - start */
.rightToolbar {
  flex-basis: 20%;
}
h2 {
  text-align: center;
  margin: 2vh 0;
}
h3 {
  text-align: center;
  margin: 10px 0;
  width: 100%;
}

.tip p {
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 1vh;
}

.tip ul li {
  font-size: 0.9em;
  margin-bottom: 0.4em;
  margin-left: 2em;
  list-style: square;
}

.tip ul li:nth-of-type(4),
.tip ul li:nth-of-type(5) {
  margin-left: 2em;
  list-style: none;
}
.tip i {
  margin-right: 0.4em;
}

.tip button {
  display: block;
  margin: 1em auto;

  background-color: var(--accentBg);
  color: var(--accentFg);
  padding: 6px;
  border-radius: var(--radius);
  outline: none;
  border: red 2px solid;
}

.transforms button,
.tip label,
.tip input {
  display: inline;
}

.tip label {
  display: inline-block;
  font-size: 0.9em;
  width: 27%;
}

.tip input {
  margin-left: 1em;
  width: 40%;
  padding: 2px;
}

.transforms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.transforms div {
  flex-basis: 45%;
}
.transforms button {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.scale input {
  transform: translateY(7px);
}

/* Right Toolbar - end */
/* ======
toolbars - END
========= */

/* ======
visualization - START
========= */

.visualization {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  justify-content: center;
}

.visualization p {
  text-align: center;
  line-height: 2em;
}

.container {
  flex-basis: 95%;
  background-color: var(--accentBg);
  position: relative;
  margin-top: auto;
}

.child {
  height: 10%;
  background-color: var(--accentFg);
}

/* ======
visualization - END
========= */

.siteFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3em;
  line-height: 3em;
  font-size: 1em;
  text-align: center;
  background-color: #aaa;
}
